---
layout: default
---

{% comment %} This sets the 'image' and 'license' variables used below {% endcomment %}
{% include species-image.html species_name=page.name_ %}

<script>
var tog = function (event) {
  if (event.target.id == "togMD") {
    event.preventDefault();

    document.querySelector(event.target.hash).classList.toggle('visible');

    if (event.target.text == "hide") {
      event.target.text = "view";
    } else {
      event.target.text = "hide";
    }
  }
}
document.addEventListener('click', tog, false);
</script>

<div class="section">
<div class="sd-info">
  <p class="sd-sname">{{ page.name }}</p>
  <p class="sd-cname">{{ page.common_name }}</p>

  {% assign clen = page.project.size | minus: 1 %}
  {% if clen == -1 %}
  {% elsif clen == 0 %}
    <p class="sd-pname">Included in the {{ page.project[0] | upcase }}.</p>
  {% else %}
    {% assign clist = page.project | slice:  0, clen | join: ", " | upcase %}
    {% assign llist = page.project[-1] | upcase %}
    <p class="sd-pname">Included in the {{ clist }} and {{ llist }}.</p>
  {% endif %}

  <p class="sd-links">
  {% if page.taxon_id %}
   -- <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ page.taxon_id }}">NCBI Taxonomy Browser</a> -
  {% endif %}
  </p>

  <br>

  {% if page.genbank_gen or page.genbank_tra %}
    <table class="sd-info-tab">
    <thead><tr><th class="label" width="30%">Resource</th>
               <th>Genome Assembly</th>
               <th>Transcriptome Assembly</th>
           </tr></thead>
    <tbody><tr><td class="label">GenBank</td>
               <td> {% include resource-links.html data=page.genbank_gen link="https://www.ncbi.nlm.nih.gov/datasets/genome/YOURACCHERE" %} </td>
               <td> {% include resource-links.html data=page.genbank_tra link="https://www.ncbi.nlm.nih.gov/datasets/genome/YOURACCHERE" %} </td>
           </tr>
           </tr></tbody>
    </table>
    <br>
  {% endif %}

  {% if page.metadata %}
    <table class="sd-info-tab">
    <thead><tr><th class="label" width="100%">metadata.yaml (<a id="togMD" href="#metadata">view</a>) (<a href="https://github.com/genomeark/genomeark-metadata/blob/main/species/{{ page.name_ }}.yaml">edit on github</a>)</th>
           </tr></thead>
    <tbody>
      <tr>
      <td style="text-align: left;">
        <div class="metadata-display" id="metadata">
{{ page.metadata }}
        </div>
      </td>
      </tr>
    </tbody>
    </table>
  {% endif %}
</div class="sd-info">

<div class="sd-image">
  <div style="display: inline; margin: 0;">
    <div style="background-image:url({{ image }}); " class="species-image-full" src="">
    </div>
    <div class="species-image-lic">
      {{ license }}
    </div>
  </div>
</div class="sd-image">
</div class="section">

{% unless page.last_raw_data %}

{% include section-divider.html title="Raw Data" %}

<div class="section">
<div class="data-use">
<p style="text-align: center;">
<em style="color:maroon">No raw data.</em>
</p>
</div>
</div>

{% else %}

{% include section-divider.html title="Raw Data by Technology" %}
<div class="section">
{% include data-table-technology.html %}
</div class="section">

{% include section-divider.html title="Raw Data by Individual" %}

<div class="section">
{% include data-table-individual.html %}
</div class="section">

{% endunless %}

<!-- NOTES --->

{% if page.notes %}
{% include section-divider.html title="Notes" %}
<div class="notes">
<em style="color:red">{{ page.notes }}</em><br/>
</div>
{% endif %}

<!-- ASSEMBLIES --->

{% include section-divider.html title="Assemblies" %}

{% comment %}
  Create an assembly-stats block for any assembly that exists for up to six individuals.
  A block will have up to two assemblies shown (with an optional mito sequence):
    PRI/ALT
    DIP
  An individual shouldn't have both PRI/ALT and PAT/MAT, but it will still
  display properly (except that the mito will be shown for both).

{% endcomment %}

{% if page.pri1seq  or page.alt1seq  or page.hpa1seq  or page.hpb1seq  or page.dip1seq  %} {% assign d1  = true %} {% else %} {% assign d1  = false %} {% endif %}
{% if page.pri2seq  or page.alt2seq  or page.hpa2seq  or page.hpb2seq  or page.dip2seq  %} {% assign d2  = true %} {% else %} {% assign d2  = false %} {% endif %}

{% if d2 %}  {% assign div1  = true %}  {% else %}  {% assign div1  = false %}  {% endif %}

{% unless d1 or d2 %}

<div class="section">
<div class="data-use">
<p style="text-align: center;">
<em style="color:maroon">No assemblies.</em>
</p>
</div>
</div>

{% else %}

<div class="section">

{% assign shown = false %}

{% include assembly-stats.html individual=1 tlabel="Diploid"     tseq=page.dip1seq  tversion=page.dip1version  tdate=page.dip1date  tqual=page.dip1qual  tfilesize=page.dip1filesize  tsizes=page.dip1sizes %}
{% include assembly-stats.html individual=1 llabel="Primary"     lseq=page.pri1seq  lversion=page.pri1version  ldate=page.pri1date  lqual=page.pri1qual  lfilesize=page.pri1filesize  lsizes=page.pri1sizes
                                            rlabel="Alternate"   rseq=page.alt1seq  rversion=page.alt1version  rdate=page.alt1date  rqual=page.alt1qual  rfilesize=page.alt1filesize  rsizes=page.alt1sizes %}
{% include assembly-stats.html individual=1 llabel="Haplotype 1" lseq=page.hpa1seq  lversion=page.hpa1version  ldate=page.hpa1date  lqual=page.hpa1qual  lfilesize=page.hpa1filesize  lsizes=page.hpa1sizes
                                            rlabel="Haplotype 2" rseq=page.hpb1seq  rversion=page.hpb1version  rdate=page.hpb1date  rqual=page.hpb1qual  rfilesize=page.hpb1filesize  rsizes=page.hpb1sizes %}


{% if d1 %} {% assign shown = false %} {% endif %}
{% if shown == false and d1 and div1 %} {% assign shown = true %} <div class="assembly-list-line"><hr width="80%"></div> {% endif %}


{% include assembly-stats.html individual=2 tlabel="Diploid"     tseq=page.dip2seq  tversion=page.dip2version  tdate=page.dip2date  tqual=page.dip2qual  tfilesize=page.dip2filesize  tsizes=page.dip2sizes %}
{% include assembly-stats.html individual=2 llabel="Primary"     lseq=page.pri2seq  lversion=page.pri2version  ldate=page.pri2date  lqual=page.pri2qual  lfilesize=page.pri2filesize  lsizes=page.pri2sizes
                                            rlabel="Alternate"   rseq=page.alt2seq  rversion=page.alt2version  rdate=page.alt2date  rqual=page.alt2qual  rfilesize=page.alt2filesize  rsizes=page.alt2sizes %}
{% include assembly-stats.html individual=2 llabel="Haplotype 1" lseq=page.hpa2seq  lversion=page.hpa2version  ldate=page.hpa2date  lqual=page.hpa2qual  lfilesize=page.hpa2filesize  lsizes=page.hpa2sizes
                                            rlabel="Haplotype 2" rseq=page.hpb2seq  rversion=page.hpb2version  rdate=page.hpb2date  rqual=page.hpb2qual  rfilesize=page.hpb2filesize  rsizes=page.hpb2sizes %}


{% if d2 %} {% assign shown = false %} {% endif %}
{% if shown == false and d2 and div2 %} {% assign shown = true %} <div class="assembly-list-line"><hr width="80%"></div> {% endif %}


{% include assembly-stats.html individual=3 tlabel="Diploid"     tseq=page.dip3seq  tversion=page.dip3version  tdate=page.dip3date  tqual=page.dip3qual  tfilesize=page.dip3filesize  tsizes=page.dip3sizes %}
{% include assembly-stats.html individual=3 llabel="Primary"     lseq=page.pri3seq  lversion=page.pri3version  ldate=page.pri3date  lqual=page.pri3qual  lfilesize=page.pri3filesize  lsizes=page.pri3sizes
                                            rlabel="Alternate"   rseq=page.alt3seq  rversion=page.alt3version  rdate=page.alt3date  rqual=page.alt3qual  rfilesize=page.alt3filesize  rsizes=page.alt3sizes %}
{% include assembly-stats.html individual=3 llabel="Haplotype 1" lseq=page.hpa3seq  lversion=page.hpa3version  ldate=page.hpa3date  lqual=page.hpa3qual  lfilesize=page.hpa3filesize  lsizes=page.hpa3sizes
                                            rlabel="Haplotype 2" rseq=page.hpb3seq  rversion=page.hpb3version  rdate=page.hpb3date  rqual=page.hpb3qual  rfilesize=page.hpb3filesize  rsizes=page.hpb3sizes %}

</div>
{% endunless %}

<!-- ASSEMBLY METADATA --->

{% if page.mds %}
{% include section-divider.html title="Assembly Metadata" %}

<div class="section">
  {% for md in page.mds %}
  <div class="sd-meta">
  <table class="sd-info-tab">
    <thead><tr><th class="label" width="100%">{{ md.title }} (<a id="togMD" href="#{{ md.ident }}">view</a>)</th>
           </tr></thead>
    <tbody>
      <tr>
      <td style="text-align: left;">
        <div class="metadata-display" id={{ md.ident }}>
{{ md.data }}
        </div>
      </td>
      </tr>
    </tbody>
  </table>
  </div>
  {% endfor %}
</div>
{% endif %}



<!-- DATA USE POLICY --->

{% include section-divider.html title="Data Use Policy" %}

<div class="section">
<div class="data-use">
<p>
{{ page.data_use_text }}
</p>
</div>
</div>